# This is for pip.

numpy
pandas
scipy
torch
torchvision
tensorflow
opencv-python
pillow
gymnasium
matplotlib
pyyaml
d3rlpy
gymnasium_robotics
minari
minari[gcs]
transformers

# gym.register_envs(gymnasium_robotics)
